.customOverlay {
  background: rgba(241, 241, 241, 0.843);
}
.customModal {
  max-width: 597px;
  height: 262px;
  border-radius: 50px;
  background: #333333;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
}

.customModal h2 {
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
